html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  pointer-events: none;
}
body {
  background-color: #464583;
  color: white;
  font-family: sans-serif;
  font-size: 32px;
}
section {
  margin: left;
  text-align: center;
  min-height: 98vh;
  border: red dotted 1px;
}
#IntroductionPhoto {
  right: 10%;
  top: 20%;
  position: fixed;
  max-height: 60vh;
  max-width: 40vh;
  transform: rotateZ(45deg);
  z-index: -1;
}
#First {
  text-align: left;
  top: 350px;
  left: 150px;
  border: red dotted 1px;
}
.hid {
  opacity: 0;
  transform: translateX(20%);
  transition: all 0.5s;
}
.show {
  transform: translateX(0);
  opacity: 1;
}
/*mebutinas topbar*/
#TopBar {
  border: 1px dotted red;
  padding-right: 12vh;
  background-image: url(images/Atasks.png);
}
nav {
  margin: left;
  text-align: right;
  right: 1px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 7vh;
}
nav ul li a {
  padding: 10px 20px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
  transition: all 0.2s;
}
nav ul li a:hover {
  border-color: red;
}
#Introduction {
  position: fixed;
  left: 10%;
  top: 15%;
  font-size: 4vh;
  border: 1px red dotted;
  width: 40%;
}
h1 {
  font-size: 10vh;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
}
#ContainerPhoto {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}
#ContainerPhoto2 {
  position: relative;
  top: 7%;
  right: 2%;
  border: 5px #1c1a1d solid;
  object-fit: cover;
  height: 90%;
  max-width: 95%;
}
#ContainerVideo {
  position: relative;
  left: 5%;
  top: 5%;
  border: 5px #1c1a1d solid;
  object-fit: cover;
  height: 90%;
  max-width: 95%;
}
#hed {
  grid-column: 1/3;
}
#PlayButton {
  margin: auto;
  height: 20vh;
  width: 20vh;
  border: 1px red solid;
}
h2 {
  text-align: center;
  padding: 10px;
  font-size: 6vh;
  text-transform: uppercase;
  font-weight: 1600;
  letter-spacing: 30px;
  color: #fff;
  border-bottom: 3px #fff solid;
}
#CardContainer {
  background: #15001f;
  display: grid;
  max-width: 150vh;
  top: 14%;
  left: 25%;
  grid-template-columns: 70% 30%;
  border: 40px red dot;
}
#ContainerText {
  font-size: 12vh;
  padding: 1%;
  line-height: 4vh;
  text-align: left;
  font-size: 2vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: monospace;
}
#Console {
  color: green;
}
.card {
  background: #15001f;
  border: 1px solid #c042ff;
  font-size: 14px;
  font-family: monospace;
  display: grid;
  max-width: 150vh;
  position: relative;
  top: 10vh;
  left: 15%;
}

.titlebar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: 450;
  background-color: #2e0043;
  max-width: 150vh;
  text-align: right;
}

button {
  width: 40px;
  height: 35px;
  margin-left: -5px;
  border: 0;
  outline: 0;
  background: transparent;
  transition: 0.2s;
}

button svg path,
button svg rect,
button svg polygon {
  fill: #ffffff;
}

button svg {
  width: 10px;
  height: 10px;
}

.close:hover {
  background-color: #e81123;
}

.maximize:hover {
  background-color: #c042ff2e;
}

.minimize:hover {
  background-color: #c042ff2e;
}

/*
#lorem {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
  background-color: rgba(189, 118, 38, 0.514);
  border-radius: 10px;
  height: 80px;
  width: 550px;
  word-spacing: 5px;
  text-align: right;
  border: 3px black solid;
  padding: 5px;
  transform: rotateY(45deg) rotateX(-60deg);
  position: relative;
}
#lorem:hover {
  height: 200px;
  transition: height 2s;
}
.div1 {
  border: 1px dotted red;
  background-color: black;
  margin: auto;
  border-radius: 10px white dotted;
  text-align: center;
  position: absolute;
  right: 320px;
  top: 200px;
}
.Letter {
  display: inline-block;
}
img {
  display: inline-block;
  border: red dotted 1px;
  transform: rotateY(45deg) rotateX(-60deg);
  transition: transform 1s;
}
img:hover {
  transform: translateY(-50px) rotateY(45deg) rotateX(-60deg);
}
.div2 {
  border: 1px dotted red;
  background-color: black;
  margin: auto;
  border-radius: 10px white dotted;
  text-align: center;
}
.test {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 15em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  transform: rotateY(45deg) rotateX(-60deg);
  transition: transform 1s, text-shadow 1s;
  text-shadow: none;
}

.test:hover {
  transform: translateY(-18px) rotateY(45deg) rotateX(-60deg);
  text-shadow: 1px 1px 1px #919191, 1px 1px 1px #919191, 1px 2px 1px #919191,
    1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191,
    1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191,
    1px 9px 1px #919191, 1px 10px 1px #919191, 1px 11px 1px #919191,
    1px 40px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.test:hover {
}
#demo {
  color: red;
  font-size: 100px;
}
*/
